@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat&display=swap');

*{
    padding: 0;
    margin: 0;
}

:root{
    --color-one:#000000;
    --color-two:#F6F6F6;
    --color-three:#22D4FD;
    --color-hover:#272727;

    --font-mont:"Monserrat", sans-serif;
    --font-krona: "Krona One", sans-serif;
}

body{
    background-color: var(--color-one);
    color: var(--color-two);
    box-sizing: border-box;
}

.header{
    padding: 2% 0% 0% 10%;
}

.header_menu{
    display: flex;
    gap: 80px;
}

.header_menu_links{
    font-family: var(--font-mont);
    font-size: 1.5rem;
    font-weight: 600px;
    color: var(--color-three);
    text-decoration: none;
}

.presentacion{
    display: flex;
    align-items: center;
    padding: 10% ;
    justify-content: space-between;
    gap: 82px;
}


.presentacion__contenido{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}


.presentacion__contenido__titulo{
    font-size: 2.25rem;
    font-family: var(--font-krona);
}

.titulo_destacado{
    color: var(--color-three);
}

.presentacion__contenido__texto{
    font-size: 1.5rem;
    font-family: var(--font-mont);
}

.presentacion__enlaces{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    gap: 28px;
}

.presentacion__contenido__subtitulo{
    font-size: 1.5rem;
    font-family: var(--font-krona);
    font-weight: 400px;
}

.presentacion__enlaces_link{
    width: 50%;
    text-align: center;
    padding: 21.5px 0px;
    border-radius: 16px;
    border: 2px solid var(--color-three) ;

    font-family: var(--font-mont);
    font-size: 1.5rem;
    font-weight: 600px;

    text-decoration: none;
    color: var(--color-two);

    display: flex;
    justify-content: center;
    gap: 10px;
}

.presentacion__enlaces_link:hover{
    background-color: var(--color-hover);
}

.presentacion__contenido__subtitulo:hover{
    color: var(--color-three);
}

.presentacion__imagenes{
    width: 50%;
}

.footer{
    padding: 24px;
    background-color: var(--color-three);

    color: var(--color-one);
    text-align: center;
    font-family: var(--font-mont);
    font-size: 1.5rem;
    font-weight: 400px;
}

@media (max-width: 1200px){
    .header{
        padding: 10%;
    }
    .header_menu{
        justify-content: center;
    }
    .presentacion{
        flex-direction: column-reverse;
        padding: 5%;
    }
    .presentacion__contenido{
        width: auto;
    }
}